@import './fonts/roboto.css';
@import './fonts/changa.css';


h3 {
    padding: 0;
    margin: 0;
    font-size:120%;

}


.Timetable {
    flex:.33;
    display: flex;
    padding: 1em;
    /* border-right: 1px #fff solid; */
    flex-direction: column;
    justify-content: space-between;
}



/* .Timetable {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: column;

    align-content: stretch;
} */
.Overlay {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.85);
    height: 100%;
    width: 100%;
    /* opacity: 1;
    transition: background 15s, display 15s, z-index 15s, opacity 15s; */
}

.Overlay div, .Overlay h1 {
    color: rgba(255,255,255,.75);
}


/* .2+.45+.075+.225+ 2*.025 */
/* COMPONENTS */
.Clock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:100%;
    flex: .275;
}

.Prayers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    flex:.425;
    font-size: 125%;
}

.Countdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex: .075;
    font-size: 125%;
    padding-bottom: .2em;
}

.Message {
    font-family: Changa, 'Times New Roman', Times, serif;
    background-color: rgba(255,255,255,.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    flex: .175;
    align-items: center;
    text-align: center;
    padding: .5em 0;
}
.Message div {
    font-size: 100%;
    font-weight: 300;
    padding: 0 .25em;
}
.Header, .Footer {
    background-color: rgba(255,255,255,.25);
    font-size: 70%;
    text-transform: uppercase;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    flex: .025;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.5);
    /* padding: .25em 0; */
}



.Header div, .Footer div {
    padding: 0 10px;
}

/* CLOCK COMPONENT */
.timeRow {
    color: rgba(255,255,255,.75);
    text-shadow: 0 0 5px rgba(255,255,255,.5);
    display: flex;
    font-size: 320%;
    align-items: center;
    flex-direction: column;
}
.dateRow {
    color: rgba(255,255,255,.85);
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    display: flex;
    font-size: 100%;
    padding: 1em 0;
    flex-direction: column;
    align-items: center
}



/* TIMETABLE COMPONENT */
.prayerHeader {
    display: flex;
    margin: .5em 1em;
    padding: .25em;
    flex-direction: row;
    justify-content: space-between;
}
.prayerRow {
    background-color: rgba(255,255,255,.25);
    display: flex;
    margin: .35em;
    padding: .45em 1em;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}
.prayerRow div, .prayerHeader div {
    width: 33%;
}
.prayerName {
    text-align: left;
}
.adhanTime {
    text-align: center;
}
.iqamahTime {
    text-align: right;
}
.next {
    background-color: rgba(255,255,255,.5)
}

 


.logo {
      height: 4em;
      padding-bottom: 2em;
 }
.wifiOff {
    height: 1em;
}
.wifiOn {
    height: 1em;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}