@import './fonts/roboto.css';
@import './fonts/changa.css';

html, body, #root {
    height:100%;
    margin:0;
    width: 100%;
    font-size: 100%;
}

body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('./img/bg.png') rgb(151, 174, 157);
    background-size: 100%;
    font-size: 18px;
    font-weight: 300;
}

h1 {
    padding: 0;
    margin: 0;
    font-size:130%;

}
h2 {
    padding: 0;
    margin: 0;
    font-size:110%;
    text-align: left;
}

.App {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;

    justify-content: center;
}

.Poster {
    display: flex;
    flex:.33;
    padding: 1em;
    border-right: 1px #fff solid;
    justify-content: center;
    justify-items: center;
    justify-self: center;

    flex-direction: column;

    align-content: space-between;
}
.Poster .Image {
    background: rgba(0,0,0,.25);
    flex: .75;
    display: flex;
    font-size: 140%;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.Poster .Title {
    flex: .1;
    display: flex;
    font-size: 125%;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.Poster .Text {
    flex: .15;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.Poster .Text div {
    padding: .25em;
}
.Poster .Text div.url {
    font-size: 75%;
}

.News {
    flex:.34;
    display: flex;
    padding: 1em;
    border-right: 1px #fff solid;
    flex-direction: column;
    justify-content: space-between;
}
.News .Image {
    background: rgba(0,0,0,.25);
    flex: .35;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.News .Title {
    flex: .05;
    display: flex;
    font-size: 125%;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255,255,255,.5)
}
.News .Text {
    flex: .6;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.News .Image .title {
    padding: .5em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.65);
    color: #fff;
    font-size: 75%;
}
.NewsItem {
    display: flex;
    flex:.3;
    padding: 0;
    border-bottom: 1px rgba(255,255,255,.5) solid;
}
.NewsItem .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    padding: 0 0 0 .5em;
}
.NewsItem img {
    padding: 1em 0;
    width: 160px;
    height: 160px;
    float: left;
}