@import './fonts/roboto.css';
@import './fonts/changa.css';

html, body, #root {
    height:100%;
    margin:0;
    width: 100%;
    font-size: 100%;
}
body {
  font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-size: 48px; */
  background: url('./img/bg.jpg') rgb(151, 174, 157) 50%;
  background-size: 100%;
  font-size: 48px;
}
.App {
    text-align: center;
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;

    align-content: stretch;
}

.Poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width:100%; */
  flex:.35;
}
.News {
  background: rgba(190,190,0,.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width:100%; */
  flex:.35;
}